@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --font-urbanist: var(--font-urbanist);
  --font-manrope: var(--font-manrope);
}

.font-urbanist {
  font-family: var(--font-urbanist);
}

.font-manrope {
  font-family: var(--font-manrope);
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-urbanist);
  box-sizing: border-box;
  overflow-x: hidden;
  /* background-color: '#F4F4F4'; */
}

input {
  border: 2px solid #50514c;
  border-radius: 6px;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  height: 2.5rem;
}
input:hover {
  border: 2px solid rgb(70, 160, 70);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-scroll {
  animation: scroll 15s linear infinite;
}
.animate-scroll:hover {
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(180deg) scale(1);
  }
}
.animate-rotate {
  animation: rotate 500ms linear 1 forwards;
}
